<!DOCTYPE html>
<html>
<head>
  <title>DogBreedsApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">DogBreedsApp</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'Breeds', breeds_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'About Me', pages_about_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>
  <div class="container mt-4">
    <%= yield %>
  </div>
</body>
</html>
